HW2_Classification/HW2/timit_11.zip
HW2_Classification/HW2/model.ckpt
HW2_Classification/HW2/timit_11/
HW3_CNN/HW3_CNN/food-11.zip
HW3_CNN/HW3_CNN/food-11/
HW3_CNN/HW3_CNN/model.ckpt
HW3_CNN/HW3_CNN/model.ckpt 19.18.28
